<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="public/images/logo.jpg"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/releases" routerLinkActive="active">New Releases</a></li>
        <li><a routerLink="/genres" routerLinkActive="active">Genres</a></li>
        <li><a routerLink="/preorder" routerLinkActive="active">Pre Order</a></li>
        <li><a routerLink="/charts" routerLinkActive="active">Charts</a></li>
        <li><a routerLink="/secondhand" routerLinkActive="active">Used Vinyl</a></li>
      </ul>
      <div class="col-sm-3 col-md-3 pull-right">
        <search></search>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
